<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Assets
        </div>
        <div class="card-body">
          <div [hidden]="data.length > 0">....Loading, Please Wait.</div>
          <ngx-datatable [hidden]="data.length === 0" tableClass="table table-striped table-bordered table-hover" [tableId]="'assetTable'"
            [data]="data" [options]="options" [columns]="columns" (rowClick)="edit($event)">
            <ng-template #actionTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
              <button class="btn btn-primary" (click)="edit(row)" data-toggle="modal">View</button>
            </ng-template>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<div #myModal="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Asset</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <div class="row col-12">
          <div class="form-group w-100 m-0 row">
            <label class="col-md-4 col-form-label font-weight-bold">Assert Id :</label>
              <label class="col-md-8 col-form-label">{{asset.assetId}}</label>
          </div>
          <div class="form-group w-100 m-0 row">
            <label class="col-md-4 col-form-label font-weight-bold">File Name :</label>
               <label class="col-md-8 col-form-label">{{asset.fileName}}</label>
          </div>
          <div class="form-group w-100 m-0 row">
            <label class="col-md-4 col-form-label font-weight-bold">Mime Type :</label>           
              <label class="col-md-8 col-form-label">{{asset.mimeType}}</label>            
          </div>
          <div class="form-group w-100 m-0 row">
            <label class="col-md-4 col-form-label font-weight-bold">Email :</label>
               <label class="col-md-8 col-form-label">{{asset.email}}</label>
          </div>
          <div class="form-group w-100 m-0 row">
            <label class="col-md-4 col-form-label font-weight-bold">Country :</label>
               <label class="col-md-8 col-form-label">{{asset.email}}</label>
          </div>
          <div class="form-group w-100 m-0 row">
            <label class="col-md-4 col-form-label font-weight-bold">Description :</label>
               <label class="col-md-8 col-form-label">{{asset.description}}</label>
          </div>
          <div class="form-group w-100 m-0 row">
            <label class="col-md-4 col-form-label font-weight-bold">Created By :</label>
               <label class="col-md-8 col-form-label">{{asset.createdBy}}</label>
          </div>
        </div>
        <!--/.row-->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->